{erl_opts, [debug_info]}.

{deps, [
    {mysql_poolboy, ".*", {git, "https://github.com/mysql-otp/mysql-otp-poolboy",
                           {tag, "0.1.7"}}},
  {ranch, ".*", {git, "https://github.com/ninenines/ranch",
    {tag, "1.4.0"}}}
]}.

{relx, [{release, { six_game, "0.1.0" },
         [six_game,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{sys_config, "./config/sys.config"}.