{erl_opts, [debug_info, {parse_transform, lager_transform}, {lager_truncation_size, 1024}]}.


{deps, [
    {mysql_poolboy, ".*", {git, "https://github.com/mysql-otp/mysql-otp-poolboy",
                           {tag, "0.1.7"}}},
    {ranch, ".*", {git, "https://github.com/ninenines/ranch", {tag, "1.4.0"}}},
  {sync, ".*",
    {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
  {lager, ".*",
    {git, "https://github.com/erlang-lager/lager.git",  {tag, "3.5.1"}}}
]}.


{relx, [{release, {six_game, "0.0.1"},
  [sasl, mysql, mysql_poolboy, db, sync, lager, ranch]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{sys_config, "./config/sys.config"}.