[
  {six_game, []},
  {mysql_poolboy, [
      {six_game, {[{size, 10}, {max_overflow, 20}],
        [{user, "root"}, {password, "cwtborn123"}, {database, "six_game"}]}}
    ]},
  {sync, [
    {src_dirs, {replace, [{"./apps/db", []}]}},

    {growl, all},

    {log, all},

    {non_descendants, fix},

    {whitelisted_modules, []},

    {excluded_modules, []},

    %% default: auto
    {executable, notifu}
  ]},
  {lager, [
    {log_root, "/tmp"},

    %% Default handlers for lager/lager_event
    {handlers, [
      {lager_console_backend, [{level, info}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]},

    %% Any other sinks
    {extra_sinks,
      [
        {audit_lager_event,
          [{handlers,
            [{lager_file_backend,
              [{file, "sink1.log"},
                {level, info}
              ]
            }]
          },
            {async_threshold, 500},
            {async_threshold_window, 50}]
        }]
    }
  ]
  }
].
